[submodule "roles/prusaslicer/files/prusaslicer"]
	path = roles/prusaslicer/files/prusaslicer
	url = git@git.makerspace-gt.de:makerspace-gt/3d-druck/prusaslicer.git
[submodule "roles/arduinoide/files/opt/arduinoide"]
	path = roles/arduinoide/files/opt/arduinoide
	url = git@git.makerspace-gt.de:igami/arduinoide.git
